.game-field {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 500px;
    height: 500px;
    border: 2px solid #444;
    background-color: #eee;
  }
  
  .grid-cell {
    border: 1px solid #ccc;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  
  .token:active {
    cursor: grabbing;
  }
  

  .add-token-btn {
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .add-token-btn:hover {
    background-color: #45a049;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .modal-content h3 {
    margin-bottom: 15px;
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-content input {
    margin-left: 10px;
    width: 50px;
  }
  
  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }

  .token {
    position: absolute;
    background-color: rgba(0, 128, 255, 0.7);
    border: 2px solid #005f99;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 0.3s ease-in-out; /* Для анимации перемещения */
    z-index: 10;
  }
  
  .token-content {
    text-align: center;
    color: white;
  }
  
  .remove-token-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
  
  
  .token:hover {
    background-color: #0056b3;
  }
  
  
  .token:hover .remove-token-btn {
    display: block;
  }
  