@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body{
  font-family: 'Didact Gothic';
  z-index: 2;
}

.button-container {
  display: flex; 
  justify-content: flex-start;
  flex-direction: column;
  align-items: center; 
  gap: 5px; 
  position: absolute; 
  right: 350px; 
  top: 20px; 
  z-index: 10; 
}

.chat-messages {
  padding: 10px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  font-family: 'Didact Gothic';
}

.chat-messages div {
  color: #EDEDEF;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(215, 194, 194, 0.363);
  font-family: 'Didact Gothic';
}

.chat-messages div strong {
  color: #003366; /* Цвет имени */
  font-family: 'Didact Gothic';
}

.game-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  background-color: #2c2c2c;
  overflow-y: scroll;
}

/* Верхняя панель с персонажами */
.player-panel {
  background-color:rgba(255, 255, 255, 0.3);
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #ccc;
  max-height: 180px;  
}

.turn-controls{
  background-color: rgb(104, 124, 143);
  border: none;
  border-radius: 5px;
}

.player-panel h3{
  max-height: 5px;

}

.players-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
}

.players-list:first-child{
  margin-left: 0;
}

.player-item {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  margin: 5px;
  height: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stat-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.stat-bar-label {
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
}

.stat-bar {
  height: 20px;
  width: 100px;
  border: 1px solid #000;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.stat-bar div {
  height: 100%;
  text-align: center;
  font-size: 10px;
  color: white;
}

/* Чат-панель */
.chat-panel {
  background-color: #eee;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  overflow-y: auto;
  border-left: 1px solid #aaa;
  background-image: url(../../public/chat.webp);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  background-color: rgba(17, 34, 51, 0.4); /* Полупрозрачный фон */
  border-radius: 8px;
  z-index: 2;
}

.chat-input{
  margin-bottom: 10px;
}

.chat-input input{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: 'Didact Gothic';
}

.chat-input button{
  background-color: rgba(255, 255, 255, 0.447);
  border-radius: 8px;
  border: none;
  font-family: 'Didact Gothic';
}
/* Область с полем и чатом */
.game-area {
  display: flex;
  position: relative;
  flex: 1;
  background: #3e1f1f;
  padding: 20px;
  box-sizing: border-box;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); */
  background-image: url("../../public/tavern.webp");
  background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    z-index: 0;
}

.game-field-container {
  position: relative;
  margin-right: 20px;
  margin-bottom: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

/* Игровое поле */
.game-field {
  display: grid;
  border: 3px solid black;
  border-radius: 5px;
  position: relative;
  background-image: url(../../public/table.webp);
  background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

/* Клетки поля */
.grid-cell {
  border: 1px solid #ddd;
  display: block;
  justify-content: center;
  align-items: center;
}

/* Токен */
.token:active {
  cursor: grabbing;
}

.token {
  position: absolute;
  background-color: rgba(0, 128, 255, 0.7);
  display: flex;
  width: 37.2px;
  height: 40px;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.token-content {
  text-align: center;
  color: white;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.token:hover {
  background-color: #0056b3;
}

/* Кнопка добавления фигурки */
.add-token-btn {
  margin: 20px 0;
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.add-token-btn:hover {
  background-color: #45a049;
}

/* Модальное окно */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.modal-content h3 {
  margin-bottom: 15px;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-content input {
  margin-left: 10px;
  width: 50px;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* Контекстное меню */
.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  z-index: 100;
}

.context-menu button {
  display: block;
  width: 100%;
  border: none;
  background: none;
  padding: 5px 10px;
  text-align: left;
  z-index: 100;
  cursor: pointer;
}

.context-menu button:hover {
  background-color: #f0f0f0;
}
