  .Lobby {
    height: calc(100vh - 60px);
    background-image: url('../../public/Lobby.webp'); /* Укажи путь к твоему изображению */
    background-size: cover; /* Изображение будет покрывать весь фон */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat;
    
  }
  
  .lobby-header {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 2px;
    background-color: rgba(148, 118, 118, 0.464);
  }
  
  .players-list {
    margin-bottom: 20px;
  }
  
  .players-list ul {
    list-style: none;
    padding: 0;
  }
  
  .lobby-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn.start-game {
    background-color: green;
    color: white;
    border: none;
  }
  
  .btn.leave-lobby {
    background-color: red;
    color: white;
    border: none;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  