.header {
    text-align: center;
    padding: 2rem;
    margin: 10px;
  }
  
  .title {
    font-size: 3rem;
    font-family: 'Fantasy', serif;
  }
  
  .description {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-room {
    background-color: #4CAF50;
    color: white;
  }
  
  .create-room:hover {
    background: rgb(30, 196, 30, 0.7);
    box-shadow: none;
    position: relative;
    top: 5px;
  }
  
  .join-room {
    background-color: #008CBA;
    color: white;
  }
  
  .join-room:hover {
    background: rgb(30, 196, 30, 0.7);
    box-shadow: none;
    position: relative;
    top: 5px;
  }

  .MainBase{
    background: url('../../public/imgs/backgroundddd.jpg') no-repeat center center/cover;
    padding: 0;
    margin: 0;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e8e0e0; 
    text-align: center; 
  }


  .header{
    background-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-radius: 30px;
    border-width: 0;
  }

/* Оверлей фона */
.modal-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 1000; 
}

/* Модальное окно */
.modal-content {
  background-color: #494949; 
  padding: 20px;
  border-radius: 8px;
  width: 30%; 
  height: 25%;
  justify-content: bottom;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
  z-index: 1001; 
  position: relative; 
}

/* Кнопка закрытия */
.modal-close-button {
  position: absolute; 
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #aaa;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #000; 
}

/* Ошибка текста */
.error {
  color: red;
  font-size: 14px;
}

.room-item {
  padding: 10px;
  margin: 5px 0;
  background-color: hsla(0, 0%, 98%, 0.086);
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.room-item:hover {
  background-color:  hsla(0, 0%, 98%, 0.307);
}
.join-room-button {
  display: block;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.join-room-button:hover {
  background-color: #45a049;
}

